a {
	@apply transition duration-300;
}

[class*='transition'] {
	@apply duration-300;
}

.gradient-ltr {
	background: rgb(44,53,128);
	background: linear-gradient(275deg, rgba(44,53,128,1) 0%, rgba(239,67,98,1) 100%);
}

.fixed-text-left {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	top: 35%;
}

.fixed-text-right {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	top: 31%;
}

.logo-bg {
	margin-left: -100vw;
	margin-top: -15vw;
	width: 250vw;

	@screen md {
		margin-left: -450px;
		margin-top: -190px;
		width: 1150px;
	}

	@screen lg {
		margin-left: -600px;
		margin-top: -315px;
		width: 1700px;
	}

	@screen xl {
		margin-left: -650px;
		margin-top: -325px;
		width: 1950px;
	}
}

.bleed-left {
	margin-left: -40% !important;
}

.bleed-right {
	margin-right: -40% !important;
}