body {
  @apply font-sans antialiased;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  @apply
    p-0
    mb-6
    leading-extra-tight
    font-semibold;
}

h1 {
  @apply text-3xl;
  
  @screen md {
    @apply text-5xl;
  }
}

h2 {
  @apply text-3xl;
  
  @screen md {
    @apply text-4xl;
  }
}

.scroll-text {
  -webkit-text-stroke: 2px theme('colors.pink.default');
  margin-left: -95vw;
}

.scroll-text-right {
  -webkit-text-stroke: 2px theme('colors.pink.default');
  margin-right: -95vw;
}

.scroll-text--white {
  -webkit-text-stroke: 2px #FFF;
  margin-right: -95vw;
}


/* Link */
.link {
  @apply text-black underline transition;

  &:hover, &:focus {
    @apply text-gray-600;
  }

  &.is--active {
    @apply text-red-700;
  }
}

/* Content */
.content {
  /* Paragraph */
  p {
    @apply mb-6 leading-extra-relaxed;
  }

  /* Headings following paragraphs */
  p + h1, p + h2, p + h3, p + h4 {
    @apply pt-6 block;
  }
}